.page-home {
  padding-top: 50px;
  .jumbotron{
    background: #fff;
  }
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    .form-signin-heading{
      margin:0 auto 20px;
    }
}
}
