<div class="container">
      <div class="jumbotron">
        <h1>A step away</h1>
        <p class="lead">Developed simple and easy application. Application more modular and component based. Well documented and easy to start a project.</p>
        <p><button class="btn btn-lg btn-primary btn-block btn-facebook" data-ng-disabled="$ctrl.isSigning" type="button" ng-style="{'background-color': $ctrl.socialProvider.css.backgroundColor}" ng-click="$ctrl.socialSignin($ctrl.socialProvider.name)" >
      {{$ctrl.socialProvider.label}}
      </button></p>
      </div>
    </div>